*{
    font-family: "Montserrat", serif;
}

body{
    height: 100vh;
    overflow: hidden;
}

.container-l {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh !important;
}

.login-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #5a64b3;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
    color: #23235c;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    background-color: #fff;
    padding: 0 4px;
    color: #777;
    pointer-events: none;
    transition: 0.3s ease all;
}

.input-group input:focus {
    border-color: #727dd2;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
    top: -8px;
    left: 8px;
    color: #727dd2;
    font-size: 12px;
}

.password-group {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #727dd2;
    user-select: none;
    background-color: #fff;
}

.login-container button {
    padding: 12px;
    background-color: #727dd2;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 600;
    /* font-family: 'Montserrat'; */
}

.login-container button:hover {
    background-color: #5a64b3;
}


footer{
    position: absolute;
    bottom: 0;
    left: 0;
}

.forgot-password{
    margin-top: 10px;
}

.incorrect{
    color: red;
    margin-top: 10px;
}